:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
header{
  border-bottom: 2px solid grey;
  padding: 20px;
}
ul{
  width: 40%;
  margin: auto;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  margin-bottom: 10px;
  
}
a{
  color: rgb(225, 216, 216);
  text-decoration: none;
  font-weight: 600;
}
main{
  text-align: center;
}
.actors{
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  width: 96%;
  
}
.card__actors{
  width: 32%;
}
.episodes__cards{
  width: 27%;
  border: 1px solid grey;
  padding: 7px 15px;
}
.episodes__list{
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}